<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>      
    </configSections>
    <connectionStrings>
        <add name="MovieCentral.Properties.Settings.MCDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MCDB.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />      
    </connectionStrings>
  <appSettings>
    <add key="theme" value="Blue"/>
  </appSettings>
</configuration>